In [6]:
# Librerías
library(readxl)
library(readxl)
library(dplyr)
library(car)
library(explore)
library(psych)
library(corrplot)
library(readr)

# Data Regresión

In [7]:
ruta <- "Test real state.csv"
data <- read_csv(ruta)
head(data)

New names:
• `` -> `...1`
Rows: 1767 Columns: 30
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (6): HallwayType, HeatingType, AptManageType, TimeToBusStop, TimeToSubw...
dbl (24): ...1, YearBuilt, YrSold, MonthSold, Size.sqf., Floor, N_Parkinglot...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  ...1 YearBuilt YrSold MonthSold Size.sqf. Floor HallwayType
1 3016 2013      2013   6          910      18    terraced
2 5492 2014      2017   4          640      25    terraced
3 2757 1992      2013   2          640       5    corridor
4 1397 2006      2010   7          914      16    terraced
5  510 1993      2009   1          644      17    mixed
6 4985 2007      2016   7         1334      23    terraced
  HeatingType        AptManageType       N_Parkinglot.Ground. ⋯
1 individual_heating management_in_trust   8                  ⋯
2 individual_heating management_in_trust  90                  ⋯
3 individual_heating management_in_trust 200                  ⋯
4 individual_heating management_in_trust 249                  ⋯
5 individual_heating management_in_trust 523                  ⋯
6 individual_heating management_in_trust   7                  ⋯
  N_FacilitiesNearBy.Mall. N_FacilitiesNearBy.ETC. N_FacilitiesNearBy.Park.
1 1                        0                       1
2 1                        5                       0
3 1                        5                       1
4 1                        0                       0
5 1                        5                       0
6 1                        0                       1
  N_SchoolNearBy.Elementary. N_SchoolNearBy.Middle. N_SchoolNearBy.High.
1 4                          2                      2
2 4                          3                      5
3 4                          3                      5
4 2                          2                      1
5 4                          3                      5
6 2                          1                      1
  N_SchoolNearBy.University. N_FacilitiesInApt N_FacilitiesNearBy.Total.
1 3                          7                  9
2 5                          9                 14
3 5                          3                 16
4 2                          5                  3
5 5                          4                 14
6 1                          5                  9
  N_SchoolNearBy.Total.
1 11
2 17
3 17
4  7
5 17
6  5

In [11]:
#View(data)

In [9]:
glimpse(data)

Rows: 1,767
Columns: 30
$ ...1                               <dbl> 3016, 5492, 2757, 1397, 510, 4985, …
$ YearBuilt                          <dbl> 2013, 2014, 1992, 2006, 1993, 2007,…
$ YrSold                             <dbl> 2013, 2017, 2013, 2010, 2009, 2016,…
$ MonthSold                          <dbl> 6, 4, 2, 7, 1, 7, 8, 3, 9, 10, 6, 6…
$ Size.sqf.                          <dbl> 910, 640, 640, 914, 644, 1334, 1448…
$ Floor                              <dbl> 18, 25, 5, 16, 17, 23, 13, 22, 12, …
$ HallwayType                        <chr> "terraced", "terraced", "corridor",…
$ HeatingType                        <chr> "individual_heating", "individual_h…
$ AptManageType                      <chr> "management_in_trust", "management_…
$ N_Parkinglot.Ground.               <dbl> 8, 90, 200, 249, 523, 7, 142, 249, …
$ N_Parkinglot.Basement.             <dbl> 930, 1174, 0, 536, 536, 605, 79, 53…
$ TimeToBusStop                      <chr> "0~5min", "0~5min", "5min~10min", "…
$ TimeToSubway                       <chr> "0-5min", "0-5min", "10min~15min", …
$ N_APT                              <dbl> 7, 10, 3, 6, 8, 2, 3, 6, 1, 1, 3, 2…
$ N_manager                          <dbl> 6, 7, 5, 5, 8, 5, 4, 5, 3, 2, 3, 5,…
$ N_elevators                        <dbl> 14, 20, 10, 11, 20, 5, 8, 11, 0, 5,…
$ SubwayStation                      <chr> "Kyungbuk_uni_hospital", "Myung-duk…
$ N_FacilitiesNearBy.PublicOffice.   <dbl> 5, 7, 7, 1, 6, 4, 5, 1, 3, 2, 3, 4,…
$ N_FacilitiesNearBy.Hospital.       <dbl> 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1,…
$ N_FacilitiesNearBy.Dpartmentstore. <dbl> 1, 0, 1, 0, 0, 2, 1, 0, 2, 0, 1, 2,…
$ N_FacilitiesNearBy.Mall.           <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,…
$ N_FacilitiesNearBy.ETC.            <dbl> 0, 5, 5, 0, 5, 0, 1, 0, 0, 2, 2, 0,…
$ N_FacilitiesNearBy.Park.           <dbl> 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1,…
$ N_SchoolNearBy.Elementary.         <dbl> 4, 4, 4, 2, 4, 2, 3, 2, 2, 2, 4, 2,…
$ N_SchoolNearBy.Middle.             <dbl> 2, 3, 3, 2, 3, 1, 3, 2, 2, 1, 3, 1,…
$ N_SchoolNearBy.High.               <dbl> 2, 5, 5, 1, 5, 1, 4, 1, 2, 1, 3, 1,…
$ N_SchoolNearBy.University.         <dbl> 3, 5, 5, 2, 5, 1, 4, 2, 2, 1, 1, 1,…
$ N_FacilitiesInApt                  <dbl> 7, 9, 3, 5, 4, 5, 3, 5, 2, 5, 4, 5,…
$ N_FacilitiesNearBy.Total.          <dbl> 9, 14, 16, 3, 14, 9, 9, 3, 8, 6, 8,…
$ N_SchoolNearBy.Total.              <dbl> 11, 17, 17, 7, 17, 5, 14, 7, 8, 5, …

# Data Clasificación